.filters {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 124px;

    .filter__button {
        @include text-style(500, 16px, 'Roboto', 16px, #212121, center);
        background-color: #F5F4FA;
        border-radius: 4px;
        border: none;
        padding: 6px 22px;
        transition: 0.4s ease-in-out;

        &:hover {
            background-color: #2196F3;
            color: #ffff;
            cursor: pointer;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.project__container {
    @extend %centered;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;

    .project {
        border: 1px #EEEEEE solid;
        width: 370px;
        height: 436px;
        margin: 30px;
        box-shadow: 10px 10px 10px -15px rgba(0, 0, 0, 0.568);

        &:hover {
            border: 1px #EEEEEE solid;
            box-shadow: 10px 15px 10px -15px rgba(0, 0, 0, 0.568);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .img__div {
            position: relative;

            &:hover .card__h {
                opacity: 1;
                background-color: #2196F390;
                color: #FFFFFF;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .card__h {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease-in-out;
                background-color: rgba(0, 0, 0, 0);

                .p__h {
                    margin: 63px 24px;
                    @include text-style(400, 18px, 'Roboto', 28px, var(--white), none);
                }

                &::before {
                    color: white;
                }

                &:hover {
                    color: white;
                }
            }
        }

        .project__title {
            margin: 24px 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 36px;

            .portfolio__h2 {
                @include text-style(700, 18px, 'Roboto', 36px, #212121, none);
            }

            .portfolio__p {
                @include text-style(400, 16px, 'Roboto', 30px, var(--grey), none);
            }
        }
    }
}

@media (max-width: 768px) {
    .filters {
        text-align: center;
        margin-bottom: 30px;
        padding-top: 130px;

        .filter__button {
            @include text-style(500, 16px, 'Roboto', 26px, #212121, center);
            padding: 6px 22px;
        }
    }

    .project__container {
        width: 100%;
        margin: 0 auto;

        .project {
            width: 354px;
            height: 100%;
            margin: 15px;

            .img__div {
                img {
                    width: 100%;
                }

                .card__h {
                    .p__h {
                        @include text-style(400, 18px, 'Roboto', 28px, #FFFFFF, none);
                    }
                }
            }

            .project__title {
                margin: 24px 20px;

                .portfolio__h2 {
                    @include text-style(700, 18px, 'Roboto', 36px, #212121, none);
                }

                .portfolio__p {
                    @include text-style(400, 16px, 'Roboto', 30px, #757575, none);
                }
            }
        }
    }
}

@media (man-width: 480px) and (max-width: 768px) {
    .filters {
        display: flex;
        flex-flow: row wrap;
        margin-left: 15px;
        width: 100%;

        .filter__button {
            @include text-style(500, 16px, 'Roboto', 26px, #212121, center);
            padding: 6px 22px;
            margin-right: 8px;
            margin-bottom: 15px;
        }
    }

    .project__container {
        width: 100%;
        margin: 0;
        padding: 0;
        
        .project {
            width: 100%;
            height: auto;
            margin-bottom: 30px;

            .img__div {
                img {
                    width: 100%;
                    height: auto;
                }
                .p__h {
                    margin: 77px 24px;
                    @include text-style(400, 18px, 'Roboto', 28px, var(--white), none);
                }

            }
        }
    }
}