:root {
    --grey: #757575;
    --white: #ffff;
    --blue: #2196F3;
    --black: #000000;
    --darkgrey: #2F303A;
    --dirtywhite: #ECECEC;
    --creamwhite: #F5F4FA;
    --blue: #2196F3;
    --blue-hover: #188CE8;
    --text-color: #212121;
    --input-border: #21212120;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

}

.blue {
    color: var(--blue);
}

.white {
    color: var(--white);
}

button {
    cursor: pointer;
}

.text-decoration {
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: #188CE8;
    transition: color 150ms linear;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}